.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
disc_grad/example_scripts/section_6/bayesian_neural_network/bayesian_neural_network_with_constrained_outer_weights_store_samples.RDS
piecewise_smooth/example_scripts/section_5/normal_2d_unit_circle_non_randomized_reflection_non_adaptive_lambda_0_2.RDS
piecewise_smooth/example_scripts/section_5/normal_2d_unit_circle_randomized_reflection_non_adaptive_lambda_0_2.RDS
piecewise_smooth/example_scripts/section_6/real_data/real_data_switching_volatility_non_adaptive_deterministic_samples.RDS
piecewise_smooth/example_scripts/section_6/simulated_data/simulated_data_switching_volatility_non_adaptive_deterministic_samples.RDS
